header {
    display: grid;
    grid-template: 'logo social-bar search-bar'
                    'nav nav nav';
    grid-template-columns: 1fr auto auto;
    background-color: rgb(255, 246, 246);
}

.logo {
    min-height: 100px;
    grid-area: logo;
}

.social-bar {
    display: grid;
    align-self: start;
    grid-template-columns: repeat(5, auto);
    justify-self: right;
    grid-area: social-bar;
}

.icon {
    padding: 5px 10px;
    width: auto;
    border: none;
    color: rgb(80, 80, 80);
    font-size: 25px;
}

.icon:hover {
    opacity: 0.5;
}

.search-bar {
    display: grid;
    align-self: start;
    justify-self: right;
    grid-area: search-bar;
}

.search-bar 
.search-icon {
    padding: 5px 10px;
    width: auto;
    border: none;
    color: black;
    font-size: 30px;
}

.search-icon:hover {
    opacity: 0.5;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: rgb(226, 226, 226);
}
.tabs 
a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 130%;
    border-right: 1px solid rgb(160, 160, 160);
}

.tabs 
a:hover {
    background-color: rgb(196, 196, 196);
}

.navigation {
    justify-self: right;
    grid-area: nav;
    padding-top: 5px;
}


.navigation 
input[type=checkbox]:checked~.tabs {
    display: grid;
    grid-template-columns: 1fr;
    z-index: 100;
}

.menu-icon {
    position: relative;
    padding-left: 10px;
    width: auto;
    border: none;
    color: black;
    font-size: 30px;
    display: none;
}

.menu-icon:hover {
    opacity: 0.5;
}


@media screen and (max-width:768px) {
    header {
        grid-template: 'nav search-bar'
                       'logo logo';
    }

    .social-bar {
        display: none;
    }

    .logo {
        justify-self: center;
    }

    .navigation {
        justify-self: left;
        
    }

    .menu-icon {
        display: inline;
    }

    .tabs {
        display: none;
        position: absolute;
        left: 0;
        top: 45px;
        width: 100%;
    }

    .tabs a{
        border-right: none;
        border-bottom: solid 1px rgb(252, 252, 252);

    }
}