header {
    display: grid;
    grid-template: 'logo social-bar search-bar'
                    'nav nav nav';
    grid-template-columns: 1fr auto auto;
    padding-bottom: 10px;
}

.logo {
    min-height: 100px;
    grid-area: logo;
}

.social-bar {
    display: grid;
    align-self: start;
    grid-template-columns: repeat(5, auto);
    justify-self: right;
    grid-area: social-bar;
}

.icon {
    padding: 5px 10px;
    width: auto;
    border: none;
    color: rgb(134, 133, 133);
    font-size: 25px;
}

.social-bar 
.icon:hover {
    opacity: 0.5;
}

.search-bar {
    display: grid;
    align-self: start;
    justify-self: right;
    grid-area: search-bar;
}

.search-bar 
.search-icon {
    padding: 5px 10px;
    width: auto;
    border: none;
    color: black;
    font-size: 30px;
}

.search-icon:hover {
    opacity: 0.5;
}

.navigation {
    justify-self: right;
    grid-area: nav;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: rgb(160, 160, 160);
}

.tabs 
a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

.tabs 
a:hover {
    background-color: rgb(196, 196, 196);
}

.navigation input[type=checkbox]:checked~.tabs {
    display: grid;
    grid-template-columns: 200px;
    z-index: 100;
}

.menu-icon {
    padding: 5px 10px;
    width: auto;
    border: none;
    color: black;
    font-size: 30px;
    display: none;
}

@media screen and (max-width:768px) {
    header {
        grid-template: 'nav search-bar'
                       'logo logo';
    }

    .social-bar {
        display: none;
    }

    .logo {
        justify-self: center;
    }

    .navigation {
        justify-self: left;
    }

    .menu-icon {
        display: inline;
    }

    .tabs {
        display: none;
        position: absolute;
        left: 0;
    }
}