.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    padding-left: 10px;
    grid-gap: 20px;
}

.post {
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: 1s;
    background-color: rgba(247, 237, 225, 0.459);
}

.post:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
}

.post 
.post-title {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.post 
img.post-image {
    width: 100%;
}

.post .post-time {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    color: gray;
    font-size: 90%;
}

.post .post-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}