.left-relative {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.right-relative {
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 1;
}


.image-logo{
    float: left;
    padding: 0px;
}

.search-button-bar{
    padding: 5px 10px;
    width: auto;
    border: none;
    color: darkgray;
    font-size: 25px;
}

.icons-bar {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    justify-self: right;
}

.search-button-bar:hover {
    color: rgb(243, 148, 24);
}

.social-icon-bar{
    padding: 10px;
    float: left;
    width: auto;
    border: none;
    color: gray;
}

.social-icon-bar:hover {
    opacity: 0.60;
    /* color: burlywood; */
}




.main-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.card .container {
    padding: 2px 16px;
    grid-column: 1/3
}


